<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Custom jumbotron</h1>
        <p class="col-md-8 fs-4">
            Using a series of utilities, you can create this jumbotron, just
            like the one in previous versions of Bootstrap. Check out the
            examples below for how you can remix and restyle it to your liking.
        </p>
        <button type="button" class="btn btn-primary btn-lg" (click)="onClick()">
            <ng-container *ngIf="counter > 0 ; else elseTemplate">
                Clicked {{counter}} times
            </ng-container>
            <ng-template #elseTemplate>
                Click Me
            </ng-template>
        </button>
        <li *ngFor="let item of items">{{item}}</li>
    </div>
</div>