<div id="directives" class="px-5 border-bottom bg-light rounded-3">
    <div class="container py-5">
        <h1 class="display-5 fw-bold">Directives Testing</h1>
        <p class="col-md-8 fs-4">
            There are some components for you to try down below.
        </p>
        <div class="mb-3">
            <ng-container *ngIf="key.length>0; else notPressed">
                <label for="key" class="form-label">You pressed {{key}}.</label>
            </ng-container>
            <ng-template #notPressed>
                <label for="key" class="form-label">Press a Key</label>
            </ng-template>
            <input autofocus (keyup)="onKeyPress($event)" type="text" class="form-control" name="key" id="key"
                placeholder="Press a Key" />
        </div>

        <button type="button" class="btn btn-primary btn-lg" (click)="onClick()">
            <ng-container *ngIf="counter > 0 ; else notClicked">
                Clicked {{counter}} times
            </ng-container>
            <ng-template #notClicked>
                Click Me
            </ng-template>
        </button>
        <ul>
            <li *ngFor="let item of items">{{item}}</li>
        </ul>
        <div>
            <div class="row">
                <div class="col-2 mt-5">
                    <input class="form-control" type="range" [(ngModel)]="fontSize">
                    <input class="form-control" type="number" [(ngModel)]="fontSize">
                    <input class="form-control" type="color" [(ngModel)]="colorPicked">
                </div>
                <div class="col-10 my-auto p-2">
                    <p class="my-auto" [ngStyle]="{'color': colorPicked, 'font-size.px': fontSize}">Change the color and font size dynamically of this content.</p>
                </div>
            </div>
        </div>
    </div>
</div>